<h2><%= title %></h2>
<table>
  <% case page %>
  <% when 'bookshow' %>
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>title</th>
      <th>opinion</th>
    </tr>
  </thead>
  <tbody>
          <% lists.each do |tablelist| %>
            <tr>
              <td><%= image_tag users.find(tablelist.user_id).get_profile_image(100, 100) %></td>
              <td><%= link_to tablelist.title, book_path(tablelist.id) %></td>
              <td><%= tablelist.body %></td>
              <td><%= link_to 'edit' edit_book_path(tablelist.id) %></td>
              <td><%= link_to 'delete' book_path(tablelist.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
  </tbody>

  <% when 'userindex' %>
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>name</th>
      <th>opinion</th>
    </tr>
  </thead>
  <tbody>
  <% books.each do |booklist| %>
    <tr>
      <td><%= image_tag users.find(booklist.user_id).get_profile_image(100, 100) %></td>
      <td><%= link_to booklist.title, book_path(booklist.id) %></td>
      <td><%= booklist.body %></td>
    </tr>
  <% end %>
  </tbody>
  
  <% end %>
</table>

